<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.d.music">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.d.music.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${FLAVOR_APP_NAME}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,name,icon,theme,label">

        <service android:name="com.d.music.component.service.MusicService" />

        <activity
            android:name="com.d.music.SplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.d.music.WelcomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.d.music.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!-- Setting -->
        <activity
            android:name="com.d.music.setting.activity.SettingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.d.music.setting.activity.KoanActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.d.music.setting.activity.SkinActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.d.music.setting.activity.SleepActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.d.music.setting.activity.ModeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.d.music.setting.activity.AboutActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <!-- Local -->
        <activity
            android:name="com.d.music.local.activity.ScanActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.d.music.local.activity.HandleActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <!-- Online -->
        <activity
            android:name="com.d.music.online.activity.OnlineActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.d.music.online.activity.DetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.d.music.online.activity.MVDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- Transfer -->
        <activity
            android:name="com.d.music.transfer.activity.TransferActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <!-- Play -->
        <activity
            android:name="com.d.music.play.activity.PlayActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.d.music.play.activity.SearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>
</manifest>